In [29]:
import os
import librosa
import pandas as pd
import numpy as np

ROUND 1: METADATA

In [30]:
# Read metadata of all signed-up participants
r1_metadata = pd.read_csv('/vol/tensusers2/wharmsen/SERDA/round1/Personal_Data_v2.csv', sep=',')

# Select metadata of participants that in the end participated in the study]
r1_metadata = r1_metadata[r1_metadata['Task_Completed'] == 'Yes']

assert len(r1_metadata) == 197, "Something not right"

r1_metadata.head()

,Code,School_Province,School,Class,Class_Categorical,Gender,Birth_Province,Birth_Province_Categorical,Birth_Place_Categorical,Birth_Place_Categorical2,Language_Home,Language_Home_Categorical,Expected_Dyslexia,Date_collected,Age_Months,Age_Years,Task_Completed
0,WHHXX,Utrecht,1,4B,4,Boy,Utrecht,Utrecht,Amersfoort,Amersfoort,Nederlands,dutch,Yes,1-11-2022 00:00,87.0,7.0,Yes
1,BRSBY,Utrecht,1,4A,4,Girl,Utrecht,Utrecht,Amersfoort,Amersfoort,Nederlands,dutch,No,1-11-2022 00:00,NaN,NaN,Yes
2,2W45J,Utrecht,1,4A,4,Boy,Utrecht,Utrecht,Woerden,Woerden,Nederlands; Armeens,alsodutch,No,1-11-2022 00:00,84.0,7.0,Yes
3,5HMXC,Utrecht,1,4A,4,Boy,Utrecht,Utrecht,NaN,NaN,Nederlands,dutch,No,1-11-2022 00:00,NaN,NaN,Yes
4,NS3TP,Utrecht,1,4A,4,Girl,Utrecht,Utrecht,Amersfoort,Amersfoort,Nederlands,dutch,No,1-11-2022 00:00,NaN,NaN,Yes

In [31]:
r1_metadata.to_csv('/vol/tensusers2/wharmsen/SERDA/round1/Personal_Data_197selection.csv', sep=',')

In [32]:
np.isnan(r1_metadata.loc[1, 'Age_Months'])

True

In [ ]:
# Select validation set

# group1 = 5 boys from fourth grade, each from a different school (4 only dutch, 1 also/no dutch)
# group2 = 5 boys from fifth grade, each from a different school (4 only dutch, 1 also/no dutch)
# group3 = 5 girls from fifth grade, each from a different school (4 only dutch, 1 also/no dutch)
# group4 = 5 girls from fifth grade, each from a different school (4 only dutch, 1 also/no dutch)

In [51]:
import random
from random import sample

# Boy, 4th grade, dutch
group1a = r1_metadata[(r1_metadata['Gender'] == 'Boy') &  (r1_metadata['Class_Categorical'] == 4) & (r1_metadata['Language_Home_Categorical'] == 'dutch')]

# Generate 4 random schoolIDs
randomSchoolIDs = random.sample(range(1,8), 4)

# Select one student for each schoolID
for randomSchoolID in randomSchoolIDs:
    speakerSample = group1a[group1a['School']==randomSchoolID]
    random.sample(list(speakerSample.index), 1)

[1, 5, 4, 3]

In [33]:
def getUniqueValues(pdSeries):
    notNullValues = [x for x in pdSeries if pd.notnull(x) ]
    uniqueValues = list(set(notNullValues))
    return str(len(uniqueValues)), uniqueValues

def getNotMissingValues(pdSeries):
    return [pd.notnull(x) for x in pdSeries].count(True)

def getNrOfMissingValues(pdSeries):
    return [pd.notnull(x) for x in pdSeries].count(False)

In [34]:
# Print Latex Table
for header in r1_metadata.columns:
    print(header,'&', getNotMissingValues(r1_metadata[header]), '&',getUniqueValues(r1_metadata[header])[0] , '&', getUniqueValues(r1_metadata[header])[1], '\\\\'  )

Code & 197 & 197 & ['QPPY5', 'GFQVX', 'VVJRW', 'TYV5D', 'HT3HW', 'R53TR', 'XJH3H', 'ZMQG2', 'XMNKP', 'GFPYG', 'TCRRQ', 'ZQV5W', 'DNGRJ', 'WHHXX', 'NBCKJ', 'YHTKC', 'SGX5X', 'QNWKW', 'ZPGND', '2RRDV', 'SMVCS', 'MPPFZ', 'M2KZF', 'WCHGN', 'NN5TJ', '5XVWF', 'F4NQX', 'GNDNW', 'JVZYJ', 'BNXP5', '54TTZ', '4MD4Y', '5B2ZB', 'TZTQK', 'P5ZTP', 'CNCNC', 'KKKJP', 'XSWMB', 'GPDTS', 'GTQ2M', 'DMWJG', 'W4K5X', 'QNHZG', 'XVF23', 'GDPCH', 'DXBKX', 'BCJPZ', 'CSRJW', 'KRBXR', 'BW5HH', 'YHSSX', 'QR4MQ', 'BBKVQ', 'FRXZG', 'GBHNS', '5NFJG', 'FKK54', 'JFMWH', '5M3XR', '33JNC', 'JDNHX', 'QYBYP', 'CHHGP', 'QTVMH', 'QZSCD', 'GQZ4Z', 'BYRP5', 'JTWQH', 'GN5JG', 'RB4VY', 'VJCMQ', 'T3NSR', 'YVBRP', 'QBJFC', 'ZDPNZ', 'CTDKM', 'YQFGF', 'WWHRQ', 'RFBHH', 'JMKY3', 'JSCZB', 'XMM5H', 'BQCK2', 'XVCJB', 'CSNVV', 'GXMGW', 'NSSJN', 'DW3NF', 'DQNKY', '4SJSC', 'TQMGF', '2RWNQ', 'NBXPM', 'FWGHG', '5C2HJ', 'YWPWY', 'SJ5CF', 'FQWJQ', 'XFP2N', 'FZQCX', 'DFVCK', 'YJ3PN', 'NPTRF', 'YKKTR', 'HKT5V', 'FTGHB', 'DWNWQ', 'PVNW4', 'PS2R2', 'ZNNGY', 'TSSRS', '2W45J', 'MCDBK', 'JCN5J', 'PVKS2', 'VPCCK', '3PBFH', 'WRXMR', 'Y5KKR', 'P5DXM', 'MHTZG', 'FPDWY', 'DVNPZ', 'JTKFV', '5NMJH', 'NBGBB', '3MGQC', 'RZ2Q2', 'XMK5S', 'PCPRD', 'XXVSF', 'FQY3S', 'RTMGT', 'HVXJ4', 'BVXRK', 'H3MPB', 'JTCV3', '5PTZK', 'SHSTV', 'TXYMH', 'CJPVZ', 'YKGD3', 'JFTD5', 'XNXBH', 'CWMS3', 'XBD5S', 'BNQQ5', 'TZDKZ', 'QXYDH', 'Z2BYD', 'VMKMK', 'CJVCD', 'VNFYJ', 'CPSGN', 'RMGB2', 'MC2HC', 'VM4DX', 'QRJKJ', 'WSCSG', 'TM2WG', 'PVTGG', 'KCPXP', 'C2WKS', 'S2PPT', 'NS3TP', 'BCKTK', 'HBTWG', 'BNTNR', '5HVDT', 'GWBXN', '4QX3R', 'NRNRF', 'S45GK', '5DT2P', 'YMRDV', 'Q4NNP', '4KCW4', 'H2S4W', 'NBPKR', 'JBQTR', 'B4HNC', 'GVGGB', 'BRSBY', 'CQNJN', 'MDRJV', '5HMXC', 'TJWQ3', 'QTB2S', '4JDM4', 'PYK3C', 'BHB52', 'KTGVM', '5FHDQ', 'TCHJY', 'ZRYSY', 'MGWBQ', 'CCXBB'] \\
School_Province & 197 & 5 & ['Gelderland', 'Noord-Holland', 'Noord-Brabant', 'Utrecht', 'Zuid-Holland'] \\
School & 197 & 7 & [1, 2, 3, 4, 5, 6, 7] \\
Class & 197 & 6 & ['5B', '4B', '5', '4', '5A', '4A'] \\
Class_Categorical & 197 & 2 & [4, 5] \\
Gender & 197 & 2 & ['Girl', 'Boy'] \\
Birth_Province & 197 & 17 & ['Gelderland', 'Limburg', 'Noord-Holland', 'Syrië', 'Noord-Brabant', 'Irak', 'Overijssel', 'Utrecht', 'Curacao', 'Zuid-Holland', 'Aruba', 'Friesland', 'Zuid-Afrika', 'Duitsland', 'Brazilie', 'Polen', 'Flevoland'] \\
Birth_Province_Categorical & 197 & 10 & ['Anders', 'Gelderland', 'Limburg', 'Noord-Holland', 'Noord-Brabant', 'Overijssel', 'Utrecht', 'Zuid-Holland', 'Friesland', 'Flevoland'] \\
Birth_Place_Categorical & 169 & 28 & ['Tollebeek', 'Venlo', 'Amersfoort', 'Irak', 'Hengelo', 'Utrecht', 'Zutphen', 'Dordrecht', 'Woerden', 'Delft', 'Den Bosch', 'Sneek', 'Amsterdam', 'Blaricum', 'Duitsland', 'Curacao', 'Polen', 'Beek (berg en dal)', 'Lelystad', 'Schiedam', 'Nederhorst den Berg', 'Rotterdam', 'Urk', 'Arnhem', 'Nijmegen', 'Anders: Syrië', 'Zwolle', 'Leiden'] \\
Birth_Place_Categorical2 & 169 & 24 & ['Tollebeek', 'Venlo', 'Amersfoort', 'Hengelo', 'Utrecht', 'Zutphen', 'Dordrecht', 'Woerden', 'Anders', 'Delft', 'Den Bosch', 'Sneek', 'Amsterdam', 'Blaricum', 'Beek (berg en dal)', 'Lelystad', 'Schiedam', 'Nederhorst den Berg', 'Rotterdam', 'Urk', 'Arnhem', 'Nijmegen', 'Zwolle', 'Leiden'] \\
Language_Home & 197 & 28 & ['Nederlands; Chinees', 'Nederlands; Armeens', 'Afgaans', 'Nederlands; Portugees', 'Papiaments', 'Nederlands; Arabisch', 'Turks', 'Nederlands; Koerdisch', 'Nederlands; Farsi/Perzisch', 'Nederlands; Pools', 'Nederlands; Fins; Engels', 'Portugees', 'Nederlands; Papiaments', 'Nederlands; Perzisch', 'Nederlands; Papiaments; Italiaans', 'Pools', 'Zuid-Afrikaans', 'Nederlands; Tsjechisch; Engels', 'Nederlands; Duits', 'Engels; Pools', 'Nederlands; Arabisch; Berbers', 'Nederlands; Limburgs', 'Nederlands', 'Nederlands; Urks', 'Arabisch', 'Nederlands; Turks', 'Nederlands; Russisch; Duits', 'Nederlands; Jolla'] \\
Language_Home_Categorical & 197 & 3 & ['dutch', 'alsodutch', 'notdutch'] \\
Expected_Dyslexia & 187 & 2 & ['Yes', 'No'] \\
Date_collected & 197 & 2 & ['1-11-2022 00:00', '1-1-2023 00:00'] \\
Age_Months & 145 & 33 & [83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 112.0, 114.0, 116.0, 120.0] \\
Age_Years & 145 & 5 & [6.0, 7.0, 8.0, 9.0, 10.0] \\
Task_Completed & 197 & 1 & ['Yes'] \\

In [35]:
r1_metadata['School_Province'].value_counts()

School_Province
Gelderland       49
Utrecht          42
Noord-Brabant    41
Noord-Holland    33
Zuid-Holland     32
Name: count, dtype: int64

- grade (groep 4 of 5)
- gender (boy/girl)
- home language (nederlands, nederlands en anders, anders)
- birth province

GENDER

In [7]:
genderValues = ['Girl', 'Boy']

for genderValue in genderValues:
    print(genderValue, len(r1_metadata[r1_metadata['Gender']==genderValue]))

assert 101+104==205, 'something is not right'

Girl 95
Boy 102

CLASS

In [8]:
classValues = ['4', '5']

for classValue in classValues:
    print(classValue, len(r1_metadata[r1_metadata['Class'].str.contains(classValue)]))
assert 118+87==205, 'something is not right'

4 113
5 84

In [9]:
grade4IDS = r1_metadata[r1_metadata['Class'].str.contains('4')]['Code']
grade5IDS = r1_metadata[r1_metadata['Class'].str.contains('5')]['Code']

DYSLEXIA

In [10]:
expectedDyslexiaValues = ['Yes', 'No', 'NaN']

for expectedDyslexiaValue in expectedDyslexiaValues:
    if(expectedDyslexiaValue == 'NaN'):
        print(expectedDyslexiaValue, getNrOfMissingValues(r1_metadata['Expected_Dyslexia']))
    else:
        print(expectedDyslexiaValue, len(r1_metadata[r1_metadata['Expected_Dyslexia']==expectedDyslexiaValue]))

assert 14+180+11==205, "Something went wrong"

Yes 14
No 173
NaN 10

In [11]:
print("These students have expected dyslexia:")
print((list(r1_metadata[r1_metadata['Expected_Dyslexia'] == 'Yes']['Code'])))

These students have expected dyslexia:
['WHHXX', 'H2S4W', 'MC2HC', 'RB4VY', 'CJVCD', 'CSNVV', '5HVDT', '5PTZK', 'P5ZTP', 'YQFGF', 'NRNRF', 'JBQTR', '4MD4Y', 'B4HNC']

TASK COMPLETED

In [12]:
print("These students did not finish all tasks:")
list(r1_metadata[r1_metadata['Task_Completed'] != 'Yes']['Code'])

These students did not finish all tasks:

[]

In [13]:
r1_metadata[r1_metadata['Code'] == 'CSRJW']

Empty DataFrame
Columns: [Code, School, Class, Gender, Birth_Province, Birth_place, Language_Homa, Expected_Dyslexia, Date_collected, Age_Months, Age_Years, Task_Completed]
Index: []

In [14]:
completedStudents = list(r1_metadata[r1_metadata['Task_Completed'] == 'Yes']['Code'])
print(len(set(completedStudents)))
print(completedStudents)

197
['WHHXX', 'BRSBY', '2W45J', '5HMXC', 'NS3TP', '5FHDQ', 'HT3HW', 'CJVPZ', 'TQMGF', '4SJSC', 'CSRWJ', 'H2S4W', 'MPPFZ', 'TM2WG', 'R53TR', 'SMVCS', 'MC2HC', 'QZSCD', 'VM4DX', 'FKK54', 'BVXRK', 'ZDPNZ', 'FTGHB', 'GTQ2M', 'JVZYJ', 'QBJFC', 'BNXP5', 'DW3NF', 'CWMS3', '5NMJH', 'NBXPM', 'WCHGN', 'NN5TJ', 'TZDKZ', 'DWNWQ', 'ZMQG2', '3MGQC', 'TSSRS', 'SJ5CF', 'RB4VY', 'WRXMR', 'YKKTR', 'YMRDV', 'JCN5J', 'NBCKJ', '5C2HJ', 'PS2R2', 'JTWQH', 'XVF23', '4JDM4', 'CJVCD', 'PYK3C', 'RFBHH', 'CTDKM', '4QX3R', 'C2WKS', 'JTCV3', 'XVCJB', 'Q4NNP', 'NBGBB', 'VMKMK', 'WSCSG', 'HVXJ4', 'F4NQX', 'GBHNS', 'MCDBK', 'TZTQK', 'YHTKC', 'BQCK2', '54TTZ', '5B2ZB', 'GWBXN', 'MGWBQ', 'GQZ4Z', 'VNFYJ', 'VJCMQ', 'MDRJV', 'XFP2N', 'T3NSR', 'XJH3H', 'CSNVV', 'BCKTK', 'M2KZF', 'DNGRJ', 'BCJPZ', 'XXVSF', 'TYV5D', 'BYRP5', '5XVWF', 'QYBYP', 'ZQV5W', 'DQNKY', 'PVNW4', 'TCHJY', 'DMWJG', 'PVKS2', '5HVDT', 'JFMWH', 'QRJKJ', 'DXBKX', 'CCXBB', '5M3XR', '5NFJG', 'JMKY3', 'YJ3PN', 'BNTNR', '33JNC', '4KCW4', 'GDPCH', 'WWHRQ', '5PTZK', 'S2PPT', 'JSCZB', 'HKT5V', '2RRDV', 'YWPWY', 'P5ZTP', 'GN5JG', 'CHHGP', 'XBD5S', 'DVNPZ', 'QNWKW', 'QTVMH', 'RZ2Q2', 'ZPGND', 'KTGVM', 'YQFGF', 'MHTZG', 'NRNRF', 'H3MPB', 'KKKJP', '2RWNQ', 'QR4MQ', 'JBQTR', 'BNQQ5', 'XMM5H', 'PVTGG', 'FQY3S', 'XNXBH', 'DFVCK', 'YHSSX', '4MD4Y', 'BBKVQ', 'BHB52', 'KCPXP', 'CPSGN', 'QXYDH', 'Z2BYD', 'B4HNC', 'GVGGB', 'NPTRF', 'YKGD3', 'SHSTV', 'VVJRW', 'TJWQ3', 'GFPYG', 'GXMGW', 'FZQCX', 'QTB2S', 'W4K5X', 'BW5HH', 'S45GK', 'XSWMB', 'TXYMH', 'VPCCK', 'GPDTS', 'FRXZG', 'FPDWY', 'RMGB2', 'TCRRQ', 'XMNKP', 'GFQVX', 'XMK5S', 'QNHZG', 'SGX5X', 'FWGHG', 'ZRYSY', 'NBPKR', 'YVBRP', 'ZNNGY', 'JDNHX', 'NSSJN', '5DT2P', 'P5DXM', 'HBTWG', 'JFTD5', 'GNDNW', 'FQWJQ', '3PBFH', 'CQNJN', 'KRBXR', 'PCPRD', 'JTKFV', 'Y5KKR', 'RTMGT', 'QPPY5', 'CNCNC']

# AUDIO duration

In [1]:
import librosa
import glob

In [2]:
def get_duration_librosa(file_path):
   audio_data, sample_rate = librosa.load(file_path)
   duration = librosa.get_duration(y=audio_data, sr=sample_rate)
   return duration

In [3]:
storyTasks = ['story_1', 'story_2', 'story_3']

durationStats = []
for task in storyTasks:
    audio_files = glob.glob('/vol/tensusers2/wharmsen/SERDA/round1/audio/stories/*-' + task + '-*.wav')
    durationList = [int(get_duration_librosa(audio_file)) for audio_file in audio_files]
    durationStats.append(pd.Series(durationList).describe())

    # According to metadata, eight students did not finish all tasks. Let's check if there is audio of these students in the dataset.
    # notCompletedStudents = ['WRTX4', 'PGRQC', 'ZRKMN', '3DZKT', '2HBRY', 'GMNSD', 'YWV3W', 'YJDXD']
    # foundAudioOfNotComplStudents = [x for x in audio_files if os.path.basename(x).split('-')[0] in notCompletedStudents]
    # print(foundAudioOfNotComplStudents)

    # audioStudents = [os.path.basename(x).split('-')[0] for x in audio_files]
    # print(len(completedStudents), len(audioStudents))
    # print(sorted(set(completedStudents) - set(audioStudents)))

NameError: name 'pd' is not defined

In [ ]:
storyStatsDF = pd.DataFrame(durationStats)
storyStatsDF['task'] = storyTasks
storyStatsDF = storyStatsDF.set_index('task')
storyStatsDF

         count        mean        std   min    25%    50%     75%    max
task
story_1  194.0  121.670103  36.808487  59.0  92.25  112.5  149.75  184.0
story_2  195.0  120.092308  35.695038  64.0  90.50  113.0  145.50  182.0
story_3  195.0  126.097436  36.653655  56.0  95.00  120.0  157.50  184.0

In [ ]:
wordTasks = ['words_1', 'words_2', 'words_3']

wordDurationStats = []
for task in wordTasks:
    audio_files = glob.glob('/vol/tensusers2/wharmsen/SERDA/round1/audio/words/full/*-' + task + '-*.wav')
    durationList = [int(get_duration_librosa(audio_file)) for audio_file in audio_files]
    wordDurationStats.append(pd.Series(durationList).describe())

    # According to metadata, eight students did not finish all tasks. Let's check if there is audio of these students in the dataset.
    notCompletedStudents = ['WRTX4', 'PGRQC', 'ZRKMN', '3DZKT', '2HBRY', 'GMNSD', 'YWV3W', 'YJDXD']
    foundAudioOfNotComplStudents = [x for x in audio_files if os.path.basename(x).split('-')[0] in notCompletedStudents]
    print(foundAudioOfNotComplStudents)

    # # Code to detect typo
    # audioStudents = [os.path.basename(x).split('-')[0] for x in audio_files]
    # print(len(completedStudents), len(audioStudents))
    # print(sorted(set(completedStudents) - set(audioStudents)))
    # print(sorted(set(audioStudents) - set(completedStudents)))

[]
[]
[]

In [ ]:
wordStatsDF = pd.DataFrame(wordDurationStats)
wordStatsDF['task'] = wordTasks
wordStatsDF = wordStatsDF.set_index('task')
wordStatsDF

         count        mean        std    min    25%    50%    75%    max
task
words_1  197.0  194.852792  55.994658   87.0  158.0  183.0  213.0  499.0
words_2  197.0  203.908629  60.127346  115.0  163.0  192.0  224.0  503.0
words_3  197.0  220.720812  67.111453   92.0  171.0  204.0  254.0  429.0